/* Dropdown.css */

.dropdown-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50px;
  min-width: 300px;
  transform: translateX(-80%);
  background-color: #1b203f;
  border-radius: 8px;
  padding: 0.5rem;
  overflow: hidden;
  transition: height 0.1s ease
}

.menu-item {
  color: white;
  font-size: 1.5em;
  text-decoration: none;
  height: 50px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  transition: all ease 0.2s;
  padding: 0.5rem;
  gap: 1rem;
}

.menu-item:hover {
  background-color: #343d76;
}

.item-icon {
  width: 25px;
}

.item-icon svg {
  height: 20px;
}

.dropdown-enter {
  opacity: 0;
  transform: translateY(-10px); /* Starts 10px above its final position */
}

.dropdown-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms; /* Duration matches the timeout prop */
}

.dropdown-exit {
  opacity: 1;
  transform: translateY(0);
}

.dropdown-exit-active {
  opacity: 0;
  transform: translateY(-10px); /* Ends 10px above its final position */
  transition: opacity 300ms, transform 300ms; /* Duration matches the timeout prop */
}
