/* Navbar.css */

nav {
    position: sticky;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #110f27;
    color: white;
    top: 0;
    z-index: 1000;
}

#logo {
    position: relative;
    left: 2rem;
    width: 110px;
    padding: 0.15rem;
}