# server config
NODE_ENV=development
PORT=
CLIENT_ORIGINS=http://localhost:5173

# auth secrets
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=


# database secrets
DATABASE_URI=


# aws secrets
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=
MAX_CLIP_SIZE_MB=100
