# server config
NODE_ENV=
PORT=

# auth secrets
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=


# database secrets
DATABASE_URI=


# aws secrets
AWS_ACCESS_KEY=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
S3_BUCKET_NAME=