/* Auth.css */

.page-container {
  position: relative;
  display: flex;
  height: calc(100vh - 60px); 
  width: 100%;
  padding: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: visible;
}

@keyframes slideDown {
  from {
    height: 0px;
  }
  to {
    height: 60px;
  }
}

.error-popup {
  display: flex;
  font-size: 10px;
  position: absolute; 
  background-color: rgb(161, 0, 43);
  width: 100vw;
  height: 60px;
  top: -60px;
  z-index: 1001;
  align-items: center;
  justify-content: center;
  animation: slideDown 0.2s ease forwards;
}

.error-popup button {
  height: 100%;
  width: 60px;
  position: absolute;
  align-self: right;
  right: 10px;
  background: none;
  border: none;
}

.error-popup button:hover { 
  background-color: rgb(161, 0, 43, 0.6);
  filter: brightness(60%);
}

.error-popup button .icon {
  height: 100%;
  width: 100%;
  transform: scale(75%);
}

.content-container {
  display: flex; 
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  gap: 2rem;
  top: -35px;
}

.header {
  text-align: center;
  position: relative;
  font-weight: 900; 
} 

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #1b183f;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2),
             -2px -2px 5px rgba(0, 0, 0, 0.2);
               width: 100%;
  padding: 1.75rem;
  padding-top: 3rem;
  gap: 1.5rem;
}

.login {
  height: 250px;
}

.signup {
  height: 350px;
  gap: 2rem;
}

.submit-user-info {
  height: 40px;
  width: 125px;
  font: inherit;
  font-weight: 600;
  text-align: center;
  border: none;
  background: none;
  box-shadow: inset 0 0 0 1.5px #5d4ee6;
  transition: 0.2s ease all;
}

.submit-user-info > p {
  color: #8578ff;
}

.allow-submit {
  background-color: #5d4ee6;
}

.allow-submit > p{
  color: white;
}

.allow-submit:hover {
  filter: brightness(120%);
}

.allow-submit:active {
  filter: brightness(80%);
}


