.container {
    display: flex;
}

.info {
    position: relative;
    left: 10%;
    top: 8rem;
    width: 30%;
    font-size: 28px;
    line-height: 1.6;
}

.bgVideo {
    position: relative;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 70%);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 70%);
    overflow: hidden;
    z-index: -1;
}

video {
    position: relative;
    width: 90vw;
    z-index: -1; 
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 70%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 70%);
}
  