.container {
  position: relative;
  display: flex;
  height: calc(100vh - 3rem);
  width: 100vw;
}

.info {
  position: relative;
  width: 37.5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 8rem;
  gap: 1rem;
}

.header {
  position: relative;
  line-height: 1.4;
  font-size: 36px;
}

.desc {
  position: relative;
  line-height: 1.4;
  font-size: 18px;
}

#explore-button {
  width: 55%;
  margin-top: 6rem;
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 32px;
  font-weight: bolder;
  border-radius: 30px;
  background-color: #7585b3;
  box-shadow: 0px 0px 5px #7181ae, 0px 0px 5px #7989b8;
  transition: all 0.3s ease;
}

#explore-button:hover {
  box-shadow: 0px 0px 10px #7181ae, 0px 0px 10px #7989b8;
  transform: scale(1.01);
}

.bg-video {
  position: absolute;
  right: -15%;
  mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 1) 70%
  );
  -webkit-mask-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0) 15%,
    rgba(0, 0, 0, 1) 70%
  );
  overflow: hidden;
  z-index: -1;
}

video {
  position: relative;
  width: 90vw;
  z-index: -1;
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 1) 70%
  );
  -webkit-mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0) 20%,
    rgba(0, 0, 0, 1) 70%
  );
}
