.container {
    position: relative;
    display: flex;
    height: calc(100vh - 10rem);
    width: 100vw;
}

.info {
    position:relative;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 5rem;
    gap: 1rem
    /* background-color: red; */
}

.header {
    position: relative;
    line-height: 1.4;
    font-size: 36px;
}

.desc {
    position: relative;
    line-height: 1.4;
    font-size: 18px;
}

Button {
    width: 75%;
    margin-top: 4rem;
    margin-left: 2rem;
    padding: 1rem;
    font-size: 36px;
    border-radius: 30px;
}

.bgVideo {
    position: absolute;
    right: -15%;
    mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 70%);
    -webkit-mask-image: linear-gradient(to top, rgba(0, 0, 0, 0) 15%, rgba(0, 0, 0, 1) 70%);
    overflow: hidden;
    z-index: -1;

}

video {
    position: relative;
    width: 90vw;
    z-index: -1;
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 70%);
    -webkit-mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 1) 70%);
}
